@import "/src/assets/mainContent/maincontent.css";
@import "/src/assets/foodManagement/foodManagerment.css";
@import "/src/assets/employeeManagement/employeeManagement.css";
@import "/src/assets/areaManagement/areaManagement.css";
@import "/src/assets/reportManagement/reportManagement.css";
@import "/src/assets/color.css";
@import "/src/assets/monitor/chatbot.css";
